<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pyramid Quick Tutorial</title>
</head>
<body>
    {# Ini adalah "blok" yang bisa diisi oleh template lain #}
    {% block content %}
    {% endblock %}
</body>
</html>